<ActionBar class="action-bar">
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>

    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="PUG Members"></Label>
</ActionBar>

<GridLayout class="page page-content">
    <RadListView [items]="members" (itemTap)="onMemberTap($event)" class="list-group">
        <ng-template tkListItemTemplate let-member="item">
            <StackLayout class="list-group-item">
                <GridLayout rows="*, *, *" columns="auto, *" class="list-group-item-content">
                    <Label col="0" row="0" [text]="member.first_name" class="text-primary font-weight-bold"></Label>
                    <Label col="1" row="0" [text]="member.last_name" class="text-primary font-weight-bold" marginLeft="5"></Label>
                    <Label col="0" row="1" colSpan="2" [text]="member.company" class="text-primary font-weight-bold"></Label>

                    <StackLayout row="2" class="hr-light m-t-5 m-b-5" colSpan="2"></StackLayout>

                </GridLayout>
            </StackLayout>
        </ng-template>
    </RadListView>

    <ActivityIndicator [busy]="isLoading"></ActivityIndicator>
</GridLayout>